.skills-container {
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: space-evenly;
  width: inherit;
  left: 0%;
  animation: slide 12s infinite linear;
}

.skills-container2 {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: inherit;
  justify-content: space-evenly;
  left: 0%;
  animation: slide2 12s infinite linear;
}

.skill-icon {
  margin: auto;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  width: 4.5vw;
  height: auto;
  min-width: 22px;
  @media screen and (min-width: 1066px) {
    max-width: 52px !important;
  }
}



.skill-icon-card-footer {
  margin: auto;
  font-size: 4.5vh;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.tooltip {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 100px;
  background-color: rgb(24, 24, 24);
  opacity: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.tooltiptext::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: black;
  padding: 5px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#bottom {
  top: 25px;
  left: -50%;
}

#bottom::before {
  top: -5%;
  left: 45%;
}

@keyframes slide {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes slide2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

#skill-icon-gradient {
  --color-stop-1: #2bb98f;
  --color-stop-2: #6c5ce7;
  --color-stop-3: #f56d9a;
}

.color-react path {
  /* fill: rgb(100, 100, 255) !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-js path {
  /* fill: greenyellow !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-unity path {
  /* fill: white; */
  fill: url(#skill-icon-gradient) !important;
}

.color-html path {
  /* fill: orangered !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-c path {
  /* fill: rgb(218, 23, 23) !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-sharp path {
  /* fill: blueviolet !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-python path {
  fill: url(#skill-icon-gradient) !important;
}

.color-java path {
  /* fill: orange !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-php path {
  /* fill: purple !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-sql path {
  /* fill: brown !important; */
  fill: url(#skill-icon-gradient) !important;
}

.color-linkedin {
  /* fill: #0A66C2 !important; */
  fill: url(#skill-icon-gradient) !important;
}
