@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui, serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  /* this makes sure the padding and the border is included in the box sizing */
  overflow-x: hidden;
}

.self-hr {
  height: 2px;
  border: 0;
  background: linear-gradient(135deg, #55efc4, #6c5ce7, #d11d1d);
  background-size: 200% !important;
  transition: background-position 2000ms;
  position: left;
}

.self-hr-invert {
  width: 100%;

  height: 2px;
  border: 0;
  background: linear-gradient(135deg, #d11d1d, #6c5ce7, #55efc4);
  background-size: 200% !important;
  transition: background-position 2000ms;
  position: left;
}

.bg-gradient {
  background: linear-gradient(135deg, #000000, rgb(19, 19, 19), #000000);
  background-size: 300%;
  background-position: left;
  transition: background-position 1000ms;
}

.bg-gradient:hover {
  background-position: right;
}

#skill-icon-gradient {
  --color-stop-1: #2bb98f;
  --color-stop-2: #6c5ce7;
  --color-stop-3: #f56d9a;
}
